dj-database-url==0.4.0
Django==1.8.16
django-appconf==1.0.2
django-classy-tags==0.8.0
django-crispy-forms==1.6.1
django-filter==1.0.0
django-location-field==1.6.1
djangorestframework==3.5.3
djangorestframework-queryfields==1.0.0
future==0.16.0
geopy==1.11.0
gunicorn==19.6.0
Markdown==2.6.7
olefile==0.44
Pillow==4.0.0
psycopg2==2.6.2
pystache==0.5.4
python-dateutil==2.6.0
six==1.10.0
static==1.1.1
whitenoise==3.2.2
